__pycache__/

node_modules/
*.log

# Ignore Python cache files
__pycache__/
*.pyc

uploads/

# Ignore virtual environment
venv/
.venv/
.env
# Ignore local log files and user uploads
*.log
web_app/
tests/
# Ignore Docker and Git specific files
.dockerignore

dist/
build/
*.spec